@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,800&display=swap);

* {
    font-family: 'Open Sans', sans-serif
}

html {
    background-color: #fafafa;
}

body {
    position: relative;
    margin: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

h1 {
    position: absolute;

    color: transparent;
    font-style: italic;
    font-size: max(4vw, 4vh);
    line-height: .7;
    margin: 0;

    user-select: none;
}

@media (prefers-color-scheme: dark) {
    html {
        background-color: #212121;
    }
}