.links {
    &__item {
        &__logo {
            &__threads {
                width: 2rem;
                height: 2rem;
                mask-image: url(../../public/images/logos/threads.svg);
                -webkit-mask-image: url(../../public/images/logos/threads.svg);
            }
        }
    }
}
